.addable-list-wrapper {
  position: relative;
  padding: 0 32px;
  margin-bottom: 10px;

  .addable-list {
    background: white;
    border-radius: 5px;
    padding: 0 10px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;

      .add-btn {
        width: 20px;
        display: flex;
        align-items: center;
        margin-right: -10px;

        &:active {
          opacity: 0.7;
        }

        img {
          max-width: 100%;
        }
      }
    }

    &__content {
      list-style: none;
    }
  }
}

.search-input-container {
  position: absolute;
  background: white;
  min-width: 200px;
  width: 50%;
  border-radius: 5px;
  top: 26px;
  z-index: 101;
  border: 1px solid #666666;

  .input-wrapper {
    position: relative;
    padding: 3px 10px;

    input {
      width: 100%;
      font-size: 14px;
      padding: 2px 5px;
    }

    .cancel-btn {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      font-size: 10px;
      color: #df3900;
    }
  }
}

.content-item {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-bottom: 1px solid #666666;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &:last-child {
    border: none;
  }

  &:hover {
    opacity: 0.7;
  }

  img {
    max-width: 25px;
    margin-right: 11px;
  }
}
