.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 172px); // except for header and navbar size
  margin-top: -15px;

  .avatar-wrapper {
    text-align: center;
  }

  .user-info-wrapper {
    .user-profile-input-item {
      margin-bottom: 8px;

      input {
        font-size: 18px;
      }
    }
  }
}
