@import './fonts.scss';
@import './base.scss';
@import './responsive.scss';

@include printRedHatFont(400, 'Regular', $familyName: 'RedHatText');
@include printRedHatFont(500, 'Medium', $familyName: 'RedHatText');
@include printRedHatFont(700, 'Bold', $familyName: 'RedHatText');

.app-container {
  height: 100vh;
}

.page-width {
  max-width: 365px;
  margin: auto;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-link {
  color: #df3900;
  font-weight: bold;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
}
