.home-container {
  width: 360px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page-header {
    margin-bottom: 16px;
  }

  .logo-wrapper {
    position: relative;
    width: 200px;
    min-height: 120px;
    margin-left: -70px;

    > img {
      max-width: 100%;

      &.iku-logo {
        position: absolute;
        left: 45px;
        bottom: 20px;
      }
    }
  }

  .page-title {
    color: white;
    font-size: 19px;
    margin-top: -15px;
  }

  .page-content {
    margin-bottom: 30px;

    .home-input-item {
      margin-bottom: 14px;
    }
  }

  .footer-text {
    color: black;
    font-size: 15px;
  }
}
