.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;

  .header-logo {
    width: 103px;
  }

  .page-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: white;
    margin-right: 27px;
    margin-bottom: 17px;
    text-transform: uppercase;

    .main {
      display: flex;
      align-items: flex-start;
    }

    .header-editable-title {
      min-width: 100px;
      text-align: right;
    }

    .empty-title {
      border: 1px solid white;
      border-style: dashed;
    }
    

    .play-button {
      cursor: pointer;

      .play-icon {
        max-width: 30px;
        margin-left: 5px;
      }
    }

    .status-text {
      margin-top: -5px;
      font-size: 12px;
      font-weight: 500;
      color: #db4406;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
}
